html{line-height:1.15;-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%}body{margin:0}article,aside,footer,header,nav,section{display:block}h1{font-size:2em;margin:.67em 0}figcaption,figure,main{display:block}figure{margin:1em 40px}hr{box-sizing:content-box;height:0;overflow:visible}pre{font-family:monospace,monospace;font-size:1em}a{background-color:transparent;-webkit-text-decoration-skip:objects}abbr[title]{border-bottom:none;text-decoration:underline;text-decoration:underline dotted}b,strong{font-weight:inherit}b,strong{font-weight:bolder}code,kbd,samp{font-family:monospace,monospace;font-size:1em}dfn{font-style:italic}mark{background-color:#ff0;color:#000}small{font-size:80%}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline}sub{bottom:-.25em}sup{top:-.5em}audio,video{display:inline-block}audio:not([controls]){display:none;height:0}img{border-style:none}svg:not(:root){overflow:hidden}button,input,optgroup,select,textarea{font-family:sans-serif;font-size:100%;line-height:1.15;margin:0}button,input{overflow:visible}button,select{text-transform:none}button,html [type=button],[type=reset],[type=submit]{-webkit-appearance:button}button::-moz-focus-inner,[type=button]::-moz-focus-inner,[type=reset]::-moz-focus-inner,[type=submit]::-moz-focus-inner{border-style:none;padding:0}button:-moz-focusring,[type=button]:-moz-focusring,[type=reset]:-moz-focusring,[type=submit]:-moz-focusring{outline:1px dotted ButtonText}fieldset{padding:.35em .75em .625em}legend{box-sizing:border-box;color:inherit;display:table;max-width:100%;padding:0;white-space:normal}progress{display:inline-block;vertical-align:baseline}textarea{overflow:auto}[type=checkbox],[type=radio]{box-sizing:border-box;padding:0}[type=number]::-webkit-inner-spin-button,[type=number]::-webkit-outer-spin-button{height:auto}[type=search]{-webkit-appearance:textfield;outline-offset:-2px}[type=search]::-webkit-search-cancel-button,[type=search]::-webkit-search-decoration{-webkit-appearance:none}::-webkit-file-upload-button{-webkit-appearance:button;font:inherit}details,menu{display:block}summary{display:list-item}canvas{display:inline-block}template{display:none}[hidden]{display:none}

html { box-sizing: border-box;}

*, *:before, *:after {box-sizing: inherit}

.sr-only { position: absolute; width: 1px; height: 1px; margin: -1px; border: 0; padding: 0; white-space: nowrap; clip-path: inset(100%); clip: rect(0 0 0 0); overflow: hidden;}


body { 
  background-color: #E8F1F2;
  color: black;
}

h1 {
  padding: 0;
  line-height: 1.5em;
  text-decoration: underline;
  text-decoration-color: #086375;
  text-underline-offset: 10px;
  word-break: normal;
  text-align: center;
}

p { 
  max-width: 80vw;
}
.appContainer { 
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 7%;
}

.app { 
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: rgb(0, 0, 0);
  border-radius: 15px;
  padding: 5%;
}
.userInputForm { 
  min-width: 80vw;
}
.generatedRecipe { 
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 5%;
  margin-top: 2%;
  border-radius: 5px;
  min-width: 80vw;
  background-color: white;
  border: solid 1px #086375;
}
.generatedRecipe img { 
  display: flex;
  align-items: center;
  border-radius: 2px;
}

.generatedRecipe button { 
  margin-top: 5%;
  color: black;
  /* min-width: 40vw;
  padding: 2%; */
}
.generatedRecipe h2 { 
  text-decoration: underline;
  text-decoration-color: #086375;
  text-underline-offset: 10px;
  line-height: 1.5em;
  text-align: center;
}

.recipeContainer { 
  display: flex; 
  flex-direction: column;
  align-items: center;
}

.recipeContainer button { 
  background-color:  #ffffff;
  border: solid 1.5px #FFB6C1;
  color: black;
  cursor: pointer;
}
.recipeContainer a { 
  color: black;
}

.userInputForm button { 
  background-color: #FFB6C1;
  color: rgb(0, 0, 0);
  border: none;
  padding: 2.5%;
  border-radius: 5px;
  min-width: 40vw;
}

.userInputForm > form:nth-child(1) {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.filterInput { 
  min-width: 80vw;
}

.displayRecipes { 
  border: solid 1px black;
}

.submitButton { 
  width: 30%;
  padding: 1%;
  margin: 2%;
  border-radius: 2px;
  box-shadow: none;
  color: black;
}

button { 
  background-color: #FFB6C1;
  color: black;
  border: none;
  border-radius: 5px;
  padding: 2.5%;
  cursor: pointer;
  min-width: 30vw;
  margin-top: 2%;
  margin-right: 20vw;
  margin-left: 20vw;
}

#recipeFilterSelection { 
  margin-bottom: 2%;
}


.noRecipesFound { 
  margin-top: 15vh;
  display: flex;
  flex-direction: column;
  text-align: center;
}

.detailedInstructionsOverlay {
  /* position: absolute; */
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.9);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  z-index: 100;
  /* height: 100vh; */
}

.detailedInstructions {
  background-color: white;
  padding: 20px;
  /* border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2); */
}

.detailedInstructionsOverlay button {
  margin-top: 10px;
  background-color:  #ffffff;
  border: solid 1.5px #FFB6C1;
  color: black;
  cursor: pointer;
}


.instructionButton { 
  display: none;
}